 
body {
    text-align:center;
    color: white;
    background-color: grey;
}

header {
    color: white;
    background-color: black;
    margin: auto;
    height: auto;
    text-align: center;
    height: 50px;
    word-spacing: 0.5rem;
    vertical-align: center;
    text-decoration-line: blink ;
    padding: 50px 25px 50px;
}
.center{
    border: 5px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.abutton{
    display: inline-block;
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: transparent;
    text-align:center;
    transition: all 0.2s;
    }
.box-1{
    width: 80%;
    padding: 5px 0;
    border-color: black;
    border-width: 5px;
}