<!DOCTYPE html>
<html>
<head>
  <title>Jjira Classifier
  {% block title %}{% endblock %}

  </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
  {% block content %}
  {% endblock %}
  <header>
    <div class = "center">
      <p>Welcome to the Jjira Assignment Classifier!</p>
    </div>
  </header>
  
  <form action="{{ url_for('main') }}" method="post">
      <textarea class="box-1" name="entry"  placeholder="Enter the text you want classified " rows="10" columns="50"></textarea> 
      <aside>
        <input type="submit" class="abutton" name="submit" value="SUBMIT">
      </aside>
  </form>
  <span>
    {% print(answer) %}
  </span>
</body>
</html>